<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Pet Facts</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <h2>Add Your Own Pet Facts</h2>
    <form action="/facts/new" method="POST">
        <label for="pet_fact">Pet Fact:</label>
        <input type="textarea" name="pet_fact" id="pet_fact" required />
        <label for="submitter">Submitter:</label>
        <input type="text" name="submitter" id="submitter" required />
        <input type="submit" />
    </form>
</body>
</html>