<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Welcome to PetFax</h1>
    <div class="flex">
    {% for pet in pets %}
        <div class="column">
        <a href="/pets/{{ pet.pet_id }}"><h2>{{ pet.pet_name }}</h2></a>
        <img src="{{ pet.pet_photo }}" alt="picture of pet" />
        </div>
    {% endfor %}
    </div>
</body>
</html>